.enc-instruction {
  color: #aaaaaa;
  text-align: center;
  font-size: 1.5rem;
}

.enc-instruction a {
  color: #888888;
}

.enc-input {
  display: flex;
}

.enc-input-button {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: var(--dark-info);
  cursor: pointer;
}

.enc-input-button:focus {
  outline: none;
}

.enc-input-button:active, .enc-input-button:hover, .enc-input-button#active {
  color: var(--info);
}

.enc-input-button:not(:last-child) {
  border-right-style: solid;
  border-right-color: #00000055;
  border-right-width: 1px;
}

.enc-input-button:not(:first-child) {
  border-left-style: solid;
  border-left-color: var(--divider);
  border-left-width: 1px;
}

.enc-input-button-image {
  display: block;
  height: 100px;
  width: 100%;
}

.enc-packs {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.enc-progress {
  background-color: #cccccc;
  margin-bottom: 1rem;
}

.enc-progresss-value {
  position: absolute;
  right: 0;
  left: 0;
}

.enc-remove {
  color: var(--danger);
  cursor: pointer;
}
