$footer-bg: #dddddd;
$footer-fg: #999999;
$footer-link: #444444;
$footer-height: 3rem;

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.footer-spacer {
  height: 100%;
}

.footer {
  width: 100%;
  margin-top: $footer-height / 4;
  padding: $footer-height / 3;
  background-color: $footer-bg;
  color: $footer-fg;
  font-size: $footer-height / 4;
}

.footer > a {
  color: $footer-link;
}

.footer > a:hover {
  color: $footer-link;
}
